[Unit]
Description=Cloud Gateway
After=network.target

[Service]
PIDFile=/run/cloudgateway/CloudGatewayStorageManager.pid
Type=forking
User=cloudgw
ExecStart=@CMAKE_INSTALL_PREFIX@//bin/CloudGatewayStorageManager start
ExecReload=/bin/kill -HUP $MAINPID

LogsDirectory=cloudgateway
LogsDirectoryMode=0750
RuntimeDirectory=cloudgateway
RuntimeDirectoryMode=0750
RuntimeDirectoryPreserve=restart

[Install]
WantedBy=multi-user.target
